/users-management-system-java-react/frontend/node_modules/.cache/default-development
users-management-system-java-react/frontend/node_modules/.cache/default-development/0.pack
users-management-system-java-react/frontend/node_modules/.cache/default-development/index.pack
users-management-system-java-react/frontend/node_modules/.cache/.eslintcache
/users-management-system-java-react/frontend/node_modules/.cache
*.pack
users-management-system-java-react/frontend/node_modules/.cache/.eslintcache
